api/node_modules
api/yarn-error.log
api/yarn.lock
api/.env

client/node_modules
client/yarn-error.log
client/yarn.lock
client/.env

admin/node_modules
admin/yarn-error.log
admin/yarn.lock
admin/.env
admin/src/firebase.js